@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  color: #1f2937
}

p {
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

.heroSection,
.nav,
.footer {
    background-color: #1f2937;
}

.nav,
.heroSection,
.infoSection,
.quoteSection,
.ctaSection,
.footer {
    width: 100VW;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.heroSection,
.infoSection,
.quoteSection,
.ctaSection {
    padding: 64px 0px 64px 0px;
}

.sectionBoundary {
    min-width: 60vw;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
}

.navContainer {
    padding: 16px 0px 16px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#logoText {
    font-size: 24px;
    text-decoration: none;
    color: #f9faf8;
    font-weight: 700;
}

.navList {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.navLink {
    text-decoration: none;
    color: #e5e7eb;
}

.heroContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

.heroTextContainer {
    max-width: 450px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.heroImgContainer {
    min-width: 500px;
    min-height: 200px;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding-bottom: 16px;
}

.whiteText {
    color: #f9faf8;
}

.solidBtn {
    display: inline-block;
    padding: 5px 15px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
}

.infoContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 16px;
}

.infoTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoCardSetContainer {
    display: flex;
    flex-direction: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
}

.infoCard {
    max-width: 175px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: flex-start;
}

#centerText {
    text-align: center;
}

.bluestrokeSquare {
    min-width: 150px;
    min-height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 16px;
}

.quoteSection {
    background-color: #e5e7eb;
}

.quoteContainer {
    width: 48VW;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    align-self: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.cite {
    font-style: normal;
    font-weight: 900;
    color: #1f2937;
    margin-top: 16px;
}

.ctaContainer {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 48px 96px 48px 96px;
}

.boldwhiteText {
    color: #f9faf8;
    font-weight: 700;
    padding-bottom: 8px;
}

.outlineBtn {
    display: inline-block;
    padding: 5px 30px;
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

.footer {
    padding: 32px 0px 32px 0px;
}